#listado {
    margin: 3em;
}
#listado > ul {
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    background-color: #8d8d8d;
}
.loader {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border: .3125em solid #313131;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.producto {
    background-color: #F4F5F7;
    position: relative;
    display: flex;
    flex-direction: column;
}
.producto > article {
    position: relative;
    overflow: hidden;
    flex: 1;
    aspect-ratio: auto;
}
.producto > article::after {
    content: '%30';
    padding: .325em 1.5em;
    background-color: red;
    color: black;
    position: absolute;
    top: .75em;
    right: 0;
    z-index: 5;
    border-radius: .25em 0 0 .25em;
    font-size: 1.125em;
    font-weight: bolder;
    opacity: .7;
}
.producto > article > a {
    display: block;
    width: 100%;
    position: relative;
}
.producto .imagenes {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.producto .imagenes > li {
    scroll-snap-align: center;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}
.producto .imagenes > li > img {
    position: relative;
    z-index: 2;
}
.producto > footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.producto > footer > strong {
    font-size: 1.5em;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1;
    height: 2em;
    overflow-wrap: anywhere;
}
.producto > footer > span {
    font-weight: 500;
    color: #898989;
}
.producto .price {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.producto .price > em {
    font-size: 1.25em;
    font-weight: 600;
}
.producto .price > del {
    font-weight: 400;
    color: #B0B0B0;
}
.producto .btn-carrito {
    display: flex;
    justify-content: center;
}
.producto .btn-carrito > button {
    border: none;
    color: #B88E2F;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #eee7d6;
    margin-top: 1em;
    cursor: pointer;
}
.producto .btn-carrito > button:hover {
    background-color: #f1efe8;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}