.banners {
    position: relative;
}

.banners figure {
    width: 100%;
    height: 100vh;
    position: relative;
}

.banners figcaption {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banners .home-text {
    background-color: var(--light);
    border-radius: .5em;
    padding: 3.75em 2.5em;
    width: 40em;
    margin-right: 3em;
    margin-top: 5em;
}

.banners .home-text > span {
    font-weight: 600;
    letter-spacing: .1em;
}

.banners .home-text > div > em {
    font-weight: 700;
    font-size: 3.25em;
    color: var(--muted-dark);
    line-height: 1.125em;
}

.banners .home-text > div > p {
    font-weight: 500;
}

.banners .home-text > footer {
    margin-top: 2.75em;
}

.banners .home-text > footer > button {
    border: none;
    background-color: var(--muted-dark);
    padding: 1.5em 4.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

.banners .home-text > footer > button:hover {
    background-color: var(--muted-dark);
    opacity: .7;
}

.banners .home-text > footer > button > a {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

@media screen and (max-width: 959px) {
    .banners figcaption {
        align-items: end;
    }
    
    .banners .home-text {
        width: 80%;
        margin: 1em;
        padding: 1.5em;
        margin-bottom: 7em;
    }

    .banners .home-text > div > em {
        font-size: 2.5em;
    }

    .banners .home-text > footer{
        text-align: center;
    }

    .banners .home-text > footer > button {
        padding: 1em 2em;
    }
}