
.cart,
.endpoint {
    padding-block: 5em;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1em;
}

.cart > article,
.endpoint > article{
    width: 65%;
}

.cart > aside,
.endpoint > aside {
    flex: 1;
    
    position: sticky;
    top: 4em;
}

.table {
    display: table;
    margin: 1em;
    width: 100%;
}

.table .row {
    display: table-row;
}

.table .columns {
    background-color: #ffa91e45;
    border-radius: 0.5em;
}

.table .row > li {
    color: black;
    padding: .5em;
    text-transform: capitalize;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.table .row > li:last-child svg {
    fill: #B88E2F;
}

.table .row > li input {
    border: none;
    margin: 0;
    padding: 1em;
    width: 5em;
    text-align: center;
    color: #000;
}

.table .row > li input::-webkit-outer-spin-button,
.table .row > li input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table .row > li .input {
    border: 1px solid #000;
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
}

.table .row > li .input button {
    border: none;
    background-color: transparent;
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.table .row > li .input svg {
    width: 1em;
    height: 1em;
}

.table .row .product-img {
    width: 7em;
}

.table .row .product-img > img {
    border-radius: .5em;
}

.cart-details {
    margin: 1em;
    padding: 2em;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 0.5em;

}

.cart-details header strong {
    font-size: 1.5em;
}

.cart-details > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
}

.cart-details > ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-details > ul li span {
    font-weight: bolder;
}

.cart-details > ul li em {
    font-style: normal;
    color: #555;
    font-size: .9em;
    font-weight: 500;
}

.cart-details .input {
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px solid #000;
}

.cart-details .input label {
    text-align: center;
    margin-top: 0.5em;
}

.cart-details footer {
    width: 100%;
}

.cart-details footer .btn-carrito {
    margin-top: 4em;
}

.cart-details footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
    width: 100%;
}

.cart-details footer ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-details footer ul li span {
    font-weight: bold;
}

.cart-details footer ul li em {
    font-style: normal;
    font-weight: bolder;
    font-size: 1.25em;
    color: #B88E2F;
}

/* CART FEATURES */

.cart-features {
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.cart-features > label {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffa91e45;
    padding: 1.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
}

.cart-features > input {
    display: none;
}

.cart-features .accordeon {
    display: none;

    border: 1px solid #eee7d6;
    border-radius: 0 0 0.5em 0.5em;
}

.cart-features > input:checked + label {
    border-radius: 0.5em 0.5em 0 0;
}

.cart-features > input:checked + label + .accordeon {
    display: block;
    padding: 1em;
}

.cart-features > label > svg {
    transition: all 0.5s;
}

.cart-features > input:checked + label > svg {
    transform: rotate(90deg);
}

.cart-features .accordeon ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cart-features .accordeon ul li {
    display: flex;
    gap: 0.5em;
}

.cart-features .accordeon .info-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-features .accordeon .info-contacto li {
    display: block;
}

@media screen and (max-width: 959px) {
    .cart {
        flex-direction: column;
        padding: 0;
    }

    .cart > article, 
    .endpoint > article,
    .cart > aside, 
    .endpoint > aside {
        width: 100%;
    }

    .cart > article, 
    .endpoint > article {
        padding: 1em;
        gap: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-features,
    .table {
        padding: 0;
        margin: 0;
    }

    .cart-features .accordeon .info-contacto {
        grid-template-columns: auto;
    }

    .cart-features > label > svg,
    .table .row > li:last-child svg {
        width: 2em;
        height: 2em;
    }
}

@media screen and (max-width: 768px) {

    .table .row.columns {
        display: none;
    }

    .table .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .table .row > li,
    .table .row > li input,
    .table .row > li .input {
        width: 100%;
    }

    .table .row .product-img {
        width: 10em;
    }

    .table > ul:nth-child(2) {
        border-top: unset;
    }

    .table > ul + ul {
        border-top: 1px solid #000;
    }
}