.categorias {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
    padding: 2em 5em;
}

.categorias > header {
    text-align: center;
}

.categorias-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    scroll-snap-align: center;
}

.categorias-item figure{
    width: 20em;
}

.categorias-item figure img {
    border-radius: 1em;
}

.categorias-item figcaption {
    text-align: center;
}

/*---- CAROUSE ----*/

.carousel {
    width: 80%;
    position: relative;
}

.carousel > ul {
    width: 100%;
    display: flex;
    gap: 2em;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 2em;
    z-index: 16;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousel-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
}

.carousel-arrow button {
    margin: -3em;
}