

.endpoint .accordeon header {
    margin-bottom: 2em;
}

.endpoint .accordeon span {
    font-weight: normal;
}

@media screen and (max-width: 959px) {
    .endpoint {
        padding-top: 4em;
        flex-direction: column;
    }
}