

.filtros {
    position: relative;
    padding: 2em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffa91e45;
}

.filtros .filter ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.filtros .filter .filtros-container > label {
    display: flex;
    align-items: center;
    font-size: 1.125em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    width: max-content;
}

.filtros .filter .filtros-container > label:hover {
    background-color: #ffa91e45;
}

.filtros .filter span {
    font-weight: 300;
    color: #494949;
    font-size: 0.85em;
}

.filtros .sort li {
    display: flex;
    gap: 1em;
    align-items: center;
}

.filtros .sort li select {
    border: none;
    padding: 0.5em;
    border-radius: .5em;
    color: #888888;
}

/*-------------*/

.filtros .filtros-container input[type="checkbox"] {
    display: none;
}

.filtros .filtros-container .aside-filtros {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding-inline: 5em;
    z-index: 32;
    background-color: rgb(255, 232, 194);
    top: 6.5em;
    border-top: 1px solid #888;
}

.filtros .filtros-container .aside-filtros > ul {
    width: 100%;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: unset;
}

.filtros .filtros-container .aside-filtros > ul li {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0.5em;
    height: max-content;
}

.filtros .filtros-container .aside-filtros label {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    color: #B88E2F;
    padding: 0.5em 1em;
}

.filtros .filtros-container input[type="checkbox"]:checked + .aside-filtros {
    display: flex;
    flex-direction: column;
    animation: baja 1s ease;
    align-items: start;
}

.filtros .aside-filtros .aside-filtros-filter input[type="radio"],
.filtros .aside-filtros .aside-filtros-filter input[type="checkbox"],
.filtros .aside-filtros .aside-filtros-filter .filter-accordeon{
    display: none;
}

.filtros .aside-filtros .aside-filtros-filter input[type="radio"]:checked + label + .filter-accordeon {
    display: flex;
}

.filtros .aside-filtros .aside-filtros-filter input[type="radio"]:checked + label::after {
    content: "";
    width: 100%;
    height: 0.125em;
    background-color: #000;
    margin: auto;
    flex-direction: column;
}

.filtros .aside-filtros .aside-filtros-filter input[type="checkbox"]:checked + label {
    font-weight: bolder;
    padding: 0.5em 1em;
    border-radius: 50%;
    background-color: #eee;
}

.filtros .apply-filters {
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 959px) {
    .filtros .filter ul,
    .filtros .sort li{
        flex-direction: column;
        gap: 0.5em;
    }
    
    .filtros{
        padding: 1em;
    }

    .filtros .filtros-container .aside-filtros {
        flex-direction: column;
        padding: unset;
    }

    .filtros .filtros-container .aside-filtros > ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .filtros .sort li select {
        font-size: .75em;
    }

    .filtros .filter .filtros-container > label > svg {
        width: 1.5em;
        height: 1.5em;
    }
}