

.filtros {
    position: relative;
    padding: 2em 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffa91e45;
}

.filtros .filter ul {
    display: flex;
    align-items: center;
    gap: 1em;
}

.filtros .filter .filtros-container > label {
    display: flex;
    align-items: center;
    font-size: 1.125em;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    width: max-content;
}

.filtros .filter .filtros-container > label:hover {
    background-color: #ffa91e45;
}

.filtros .filter span {
    font-weight: 300;
    color: #494949;
    font-size: 0.85em;
}

.filtros .sort li {
    display: flex;
    gap: 1em;
    align-items: center;
}

.filtros .sort li select {
    border: none;
    padding: 0.5em;
    border-radius: .5em;
    color: #888888;
}

/*-------------*/

.filtros .filtros-container input[type="checkbox"] {
    display: none;
}

.filtros .filtros-container .aside-filtros {
    display: none;

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding-inline: 5em;
    z-index: 32;
    background-color: #eee7d6;
    top: 6.5em;
}

.filtros .filtros-container .aside-filtros > ul {
    width: 100%;
    padding: 2em;
}

.filtros .filtros-container .aside-filtros label {
    display: flex;
    cursor: pointer;
}

.filtros .filtros-container input[type="checkbox"]:checked + .aside-filtros {
    display: flex;
    animation: baja 1s ease;
    align-items: center;
}

@media screen and (max-width: 959px) {
    .filtros .filter ul,
    .filtros .sort li{
        flex-direction: column;
        gap: 0.5em;
    }
    
    .filtros{
        padding: 1em;
    }
}