.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eee;
    padding-top: 2em;
}

.footer > section {
    display: flex;
    gap: 2em;
    width: 100%;
    justify-content: space-around;
    align-items: start;
}

.footer .footer-brand {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-brand > img {
    width: 10em;
}

.footer .footer-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
}

.footer .footer-links > ul{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer .footer-links > em{
    font-weight: bolder;
    font-size: 1.25em;
    color: var(--primary);
}

.footer .footer-links a,
.footer .footer-socials a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .footer-links ul li a {
    color: black;
    transition: all 0.5s;
    text-align: center;
}

.footer .footer-links .newsletter li{
    display: flex;
    gap: 0.5em;
}

.footer .copyright {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-top: 1em;
    background-color: #000;
}

.footer .copyright span {
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: .75em;
}