
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    width: 100%;
}

.navbar-items,
.navbar .buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navbar-items > li > a {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .buttons ul > li > svg {
    cursor: pointer;
}