
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 32;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    width: 100%;

    position: relative;
}

.navbar-list .logo {
    width: 6em;
}

.navbar-items,
.navbar .buttons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navbar-items > li > a {
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.navbar-items .navbar-categorias {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-items .navbar-categorias label {
    cursor: pointer;
}

.navbar-items .navbar-categorias input,
.navbar-items .navbar-categorias label > ul{
    display: none;
}

.navbar-items .navbar-categorias label > ul {
    position: fixed;
    top: 3em;
    padding: 2em;
    background-color: white;
    border-radius: 0.5em;
    align-items: start;
    justify-content: start;
    gap: 1em;
    max-width: 24em;
    flex-wrap: wrap;
}

.navbar-items .navbar-categorias label > ul > li > a{
    font-weight: bolder;
    color: black;
}

.navbar-items .navbar-categorias label > ul > li > a:hover,
.navbar-items .navbar-subcategorias > ul li a:hover {
    border-bottom: 1px solid #000;
}

.navbar-items .navbar-subcategorias > ul {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 0.125em;
    flex-direction: column;
}

.navbar-items .navbar-subcategorias > ul li a{
    font-size: 0.9em;
    color: black;
}

.navbar-items .navbar-categorias label:hover > ul{
    display: flex;
}

.navbar .buttons ul > li > svg {
    cursor: pointer;
}

.navbar .search input[type="checkbox"]{
    display: none;
}

.navbar .search label,
.navbar .buttons a {
    display: flex;
}

.navbar .search .input {
    display: none;

    right: 0;
    width: 30%;
    transition: all 0.5s;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.navbar .search .input input {
    border-radius: 0em;
    margin-top: 0;
    padding: 1.05em;
}

.navbar .search .input label {
    display: flex;
    padding: .75em;
    background-color: var(--muted-dark);
    border-radius: 0.5em 0em 0em 0.5em;
    border: 1px solid #9F9F9F;
}

.navbar .search .input button {
    display: flex;
    padding: .9em;
    background-color: white;
    border-radius: 0em 0.5em 0.5em 0em;
    border: 1px solid darkgray;
    cursor: pointer;
}

.navbar .search label {
    cursor: pointer;
}

.navbar .search input:checked + form > .input {
    display: flex;
    position: absolute;
    animation: baja 1s ease;
    
    align-items: center;
    justify-content: center;
}

.navbar .navbar-responsive {
    display: none;
}

@keyframes baja {
    from {
        transform: translateY(-5em);
        opacity: .4;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@keyframes sube {
    from {
        transform: translateY(5em);
        opacity: .4;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}

@keyframes rightanimation {
    from {
        transform: translateX(15em);
    }
    to {
        transform: translateX(0em);
    }
}


@media screen and (max-width: 959px) {
    button {
        font-size: 1em;
    }

    .navbar-list {
        padding: 0 1.5em;
    }

    .navbar .navbar-list > ul {
        display: none;
    }

    .navbar .buttons {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        background-color: white;
        padding: 1.5em;
    }

    .navbar .buttons ul li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .buttons ul li svg {
        width: 2em;
        height: 2em;
    }

    .navbar .navbar-responsive {
        display: flex;
        padding: 1.5em;
    }

    .navbar .navbar-responsive ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        margin: 1em 0;
    }
    
    .navbar .navbar-responsive ul li svg {
        width: 1.5em;
        height: 1.5em;
    }

    .navbar .navbar-responsive > article{
        display: none;
    }
    
    .navbar .navbar-responsive input {
        display: none;
    }
    
    .navbar .navbar-responsive > label {
        display: flex;
    }

    .navbar .navbar-responsive > label svg {
        width: 2em;
        height: 2em;
    }
    
    .navbar .navbar-responsive input:checked + article {
        display: flex;
    
        align-items: center;
        justify-content: center;
    }
    
    .navbar .navbar-responsive > article {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    
        width: 100%;
        height: 100%;
    }
    
    .navbar .navbar-responsive > article ul {
        background-color: #FFF3E3;
        z-index: 1;
        padding: 1em;
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        color: black;
        font-size: 1.25em;

        position: absolute;
        right: 0;
        width: 14em;
        height: 100%;
        border-radius: 0;
    }
    
    .navbar .navbar-responsive input:checked + article ul {
        transition: all .5s;
        animation: rightanimation 1s ease-in-out ;
    }
    
    .navbar .navbar-responsive > article ul li a {
        color: black;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .navbar .navbar-responsive .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: .5;
    
        height: 100vh;
    }
    
    .navbar .navbar-responsive .menu-close {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2em;
    }
    
    .navbar .navbar-responsive .menu-close em {
        font-weight: bolder;
        font-style: normal;
        color: var(--muted-dark);
    }
    
    .navbar .navbar-responsive .menu-close label{
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .navbar .navbar-responsive .menu-close label svg {
        fill: var(--muted-dark);
    }
    
    .navbar .navbar-responsive .popup ul li svg {
        fill: var(--muted-dark);
    }

    .navbar .navbar-responsive .popup ul li a span{
        font-weight: bold;
    }
    
    .navbar .navbar-responsive ul li a span::after{
        content: "";
        width: 0.5em;
        height: 0.125em;
        background-color: transparent;
        transition: all 0.5s;
        display: block;
    }
    
    .navbar .navbar-responsive ul li a span:hover::after{
        content: "";
        width: 1.5em;
        height: 0.125em;
        background-color: var(--secondary);
        display: block;
    }

    .navbar .search .input {
        right: 0;
        left: 0;
        width: 100%;
        bottom: 4em;
        padding-inline: 4em;
    }

    .navbar .search .input input {
        width: 100%;
        padding: 1.25em;
    }

    .navbar .search .input label {
        padding: 1em;
    }

    .navbar .search .input button {
        padding: 1em;
    }

    .navbar .search input:checked + .input {
        animation: sube 1s ease;
    }
    
}