* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}

textarea {
    resize: none;
}

/* BREADCUMBS ------------------------- */

.breadcumbs {
    padding-top: 5em;
}

/* BTN-CARRITO ------------------------- */

.btn-carrito {
    display: flex;
    justify-content: center;
}
.btn-carrito > button,
.btn-carrito > a {
    border: none;
    color: #B88E2F;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #eee7d6;
    cursor: pointer;
    border-radius: .5em;
}
.btn-carrito > button:hover,
.btn-carrito > a {
    background-color: #f1efe8;
}

/* INPUTS ------------------------- */

.input {
    display: flex;
    flex-direction: column;
}
.input > label {
    font-weight: 500;
}
.input > input,
.input > textarea {
    margin-top: 1.25em;
    color: #9F9F9F;
    border: 1px solid #9F9F9F;
    border-radius: .5em;
    padding: 1.5em 1.75em;
    outline: none;
}
.input > input::placeholder,
.input > textarea::placeholder {
    color: #9F9F9F;
}

/* CAROUSEL ----------------------- */

.carousel {
    width: 100%;
    position: relative;
}

.carousel > ul {
    width: 100%;
    display: flex;
    gap: 2em;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 2em;
    z-index: 16;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    scroll-snap-align: center;
}

.carousel-item figure{
    width: 20em;
}

.carousel-item figure img {
    border-radius: 1em;
}

.carousel-item figcaption {
    text-align: center;
}

.carousel-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
}

.carousel-arrow button {
    margin: -3em;
    border: none;
    border-radius: 50%;
    background-color: #B88E2F;
    padding: .25em .325em;
    cursor: pointer;
}