* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
}

textarea {
    resize: none;
}

/* BREADCUMBS ------------------------- */

.breadcumbs {
    padding-top: 5em;
}

/* BTN-CARRITO ------------------------- */

.btn-carrito {
    display: flex;
    justify-content: center;
}
.btn-carrito > button {
    border: none;
    color: #B88E2F;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #eee7d6;
    cursor: pointer;
    border-radius: .5em;
}
.btn-carrito > button:hover {
    background-color: #f1efe8;
}

/* INPUTS ------------------------- */

.input {
    display: flex;
    flex-direction: column;
}
.input > label {
    font-weight: 500;
}
.input > input,
.input > textarea {
    margin-top: 1.25em;
    color: #9F9F9F;
    border: 1px solid #9F9F9F;
    border-radius: .5em;
    padding: 1.5em 1.75em;
    outline: none;
}
.input > input::placeholder,
.input > textarea::placeholder {
    color: #9F9F9F;
}

/* ------------------------- */
