* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

textarea {
    resize: none;
}

/* BREADCUMBS ------------------------- */

.breadcumbs {
    padding-top: 5em;
}

/* BTN-CARRITO ------------------------- */

.btn-carrito {
    display: flex;
    justify-content: center;
}
.btn-carrito > button,
.btn-carrito > a {
    border: none;
    color: #B88E2F;
    font-weight: 600;
    padding: 1em 2em;
    background-color: #eee7d6;
    cursor: pointer;
    border-radius: .5em;
}
.btn-carrito > button:hover,
.btn-carrito > a:hover {
    background-color: #ffa91e;
    color: black;
}

/* INPUTS ------------------------- */

.input {
    display: flex;
    flex-direction: column;
}
.input > label {
    font-weight: 500;
}
.input > input,
.input > textarea {
    margin-top: 1.25em;
    color: #9F9F9F;
    border: 1px solid #9F9F9F;
    border-radius: .5em;
    padding: 1.5em 1.75em;
    outline: none;
}
.input > input::placeholder,
.input > textarea::placeholder {
    color: #9F9F9F;
}

/* CAROUSEL ----------------------- */

.carousel {
    width: 100%;
    position: relative;
}

.carousel > ul {
    width: 100%;
    display: flex;
    gap: 2em;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 2em;
    z-index: 16;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.carousel .producto {
    min-width: 18em;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    scroll-snap-align: center;
    cursor: pointer;
}

.carousel-item figure{
    width: 20em;
    position: relative;
}

.carousel-item figure img {
    border-radius: .5em;
}

.carousel-item > a {
    color: black;
}

.carousel-item figcaption {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 3em;
}

.carousel-item figcaption > strong {
    font-size: 1.325em;
}

.carousel-arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
}

.carousel-arrow button {
    margin: -3em;
    border: none;
    border-radius: 50%;
    background-color: #B88E2F;
    padding: .25em .325em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LINKS-HOVER-ANIMATION ----------------------- */

.navbar-items > li > a::after,
.navbar .buttons ul > li > svg::after,
.footer .footer-links ul li a::after {
    content: "";
    width: 0.5em;
    height: 0.125em;
    background-color: transparent;
    transition: all 0.5s;
    display: block;
}

.navbar-items > li > a:hover::after,
.navbar .buttons ul > li > svg:hover::after,
.footer .footer-links ul li a:hover::after {
    content: "";
    width: 1.5em;
    height: 0.125em;
    background-color: #B88E2F;
    display: block;
}

#user > aside > div > ul > li > label::after {
    content: "";
    width: 2em;
    height: 0.125em;
    background-color: #B88E2F;
    transition: all 0.5s;
    display: block;
}

/* IMG-LOADER ----------------------- */

.loader {
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border: .3125em solid #313131;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

/* KEYFRAMES ----------------------- */


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 959px) {
    body {
        font-size: 3.5vw;
    }

    .carousel-arrow button > svg {
        width: 1.5em;
        height: 1.5em;
    }

    .input > input, 
    .input > textarea {
        font-size: 1em;
    }
}