#user {
    display: flex;
    align-items: start;
    margin-top: 5em;
}

#user > aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    position: sticky;
    top: 5em;
    height: 100vh;
    background-color: #ffa91e45;
}

#user > aside > header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2em 1em;
}

#user > aside > header::after {
    content: '';
    width: 15em;
    height: 0.125em;
    background-color: #9F9F9F;
    margin-top: 2em;
}

#user > aside > header > div {
    display: flex;
    align-items: center;
    margin-top: .5em;
}

#user > aside > header img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 2px solid #B88E2F;
}

#user > aside > header em {
    font-style: normal;
    margin-right: .25em;
    font-weight: 600;
    font-size: 1.25em;
}

#user > aside > header button {
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;
}

#user > aside > div {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
} 

#user > aside > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user > aside > div > ul > li > label{
    font-size: 1.325em;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user > aside > div > ul > li + li {
    margin-top: 1em;
}

#user > article {
    flex: 1;
    min-height: 100vh;
}

#user > article > ul {
    padding: 2em;
    width: 100%;
    height: 100%;
}

#user > article > ul li > input {
    display: none;
}

#user > article > ul li input:checked + section {
    display: flex;
}

#user .datos-personales {
    display: none;
    flex-direction: column;
}

#user .datos-personales > form > div {
    padding: 1em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    border: 1px solid #9F9F9F;
    background-color: white;
}

#user .datos-personales > form > div + div {
    margin-top: 1em;
}

#user .datos-personales > form > div > strong {
    font-size: 1.5em;
}

#user .datos-personales > form > div > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 1em;
}

#user .pedidos {
    display: none;
    flex-direction: column;
    padding: 1em;
    background-color: white;
    border-radius: .5em;
}

#user .pedidos > header {
    background-color: #eee7d6;
    padding: 1em;
    border-radius: .5em;
}

#user .pedidos > header > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#user .pedidos > header > ul > li {
    font-weight: 600;
    text-align: center;
}

#user .pedidos > ul {
    display: flex;
    flex-direction: column;
}

#user .pedidos > ul > li {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    padding: 1em;
}

#user .pedidos > ul > li + li {
    border-top: 1px solid black;
}

#user .pedidos > ul > li > img {
    width: 6em;
    height: 6em;
    margin: 0 auto;
    border-radius: .5em;
}

#user .pedidos span {
    font-weight: 500;
}

#user .pedidos  em {
    font-weight: 600;
    font-style: normal;
}
